@tailwind base;
@tailwind components;
@tailwind utilities;

.section-gap {
    @apply py-10 lg:py-20;
}

.section-gap-top {
    @apply pt-20;
}

.section-gap-bottom {
    @apply pb-20;
}

ul li a.active{
    color: white;
    
}
.section-title {
    @apply text-white text-4xl sm:text-5xl 2xl:text-6xl font-semibold leading-loose font-serif;
}

.title-mb {
    @apply mb-12;
}
.portfolio-size{
    @apply h-[280px] 2xl:h-[450px];
}

/*====== header==== */
.nav-list {
    @apply h-full flex items-center;
}
.nav-link-desktop{
    @apply h-full flex items-center text-xl xl:text-2xl font-medium text-secondary-light hover:text-primary transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 font-dosis;
}
.nav-link-phone{
    @apply h-full flex items-center text-xl xl:text-2xl font-medium text-secondary-light hover:text-primary transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-100 font-dosis;
}
/*======./ header==== */

/*=========Skill card=======*/
.card-wrapper {
    @apply flex flex-col gap-10 items-center justify-center p-4 w-full h-full bg-secondary rounded-3xl transition ease-in-out delay-150 hover:-translate-y-1 duration-300 hover:bg-primary;
}
/*=========./Skill card=======*/
.img-wrapper{
    @apply w-8 h-8 lg:w-24 lg:h-44;
}
/* skils card */



.box-shadow-custom {
    box-shadow: #FFC86B 0px 0px 20px;
    border-radius: 100%
}
.contact-card-style{
    @apply mt-2 flex items-center justify-center p-4 px-4 rounded-md bg-secondary-dark w-72 xl:w-96 2xl:w-[600px];
}
.contct-svg{
    @apply size-10 2xl:size-16 text-gray-200 font-bold pr-2;
}
